h1 askmeanything

include navbar.pug
+login(loggedin,name)

h2= question.title



p= question.question_text

p= "date : " +question.question_date
p= "keywords : " +question.keywords
p= "asked by  : " +question.asked_by

h2  Answers

each val in answers
  strong= val.answer_text
  p="answered by : "+val.answered_by
  p="date: "+val.answer_date


block content    
 h3 Answer this question 
  div.text-center
    form(class="form-signin" method="POST" action="/answer")
        div.form-group
            input(type="text" name="answer_text" id="inputAnswer" class="form-control" placeholder="write your answer.." required autofocus)
            input(type="hidden" name="question_title" value=question.title)
            input(type="hidden" name="question_user" value=question.asked_by)
        
        div.form-actions
            input.btn.btn-primary(type='submit', value='Submit')
